.brain-models-page {
    font-family: 'Faculty Glyphic', sans-serif;
    color: #333;
    padding: 0;
    margin: 0;
  }
  
  .brain-models-hero {
    text-align: center;
    background: url('https://img.freepik.com/free-vector/gradient-grainy-texture_23-2148976750.jpg?semt=ais_hybrid') no-repeat center center;
    background-size: cover;
    padding: 60px 20px;
    color: white;
  }
  
  .brain-models-hero h1 {
    font-size: 3em;
    margin: 0;
    margin-bottom: 20px;
  }
  
  .brain-models-hero p {
    font-size: 1.4em;
    margin-top: 10px;
  }
  
  .models-list h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .model-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .model-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
  }

  .model-card p {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .model-card:hover {
    transform: scale(1.05);
  }
  
  .embed-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .expand-button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5593fe;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .expand-button:hover {
    background-color: #4179d6;
  }
  